<!--=============================================
    =            Breadcrumb Area         =
    =============================================-->

<div class="breadcrumb-area breadcrumb-bg pt-85 pb-85 mb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb-container">
					<ul>
						{%for key, value in breadcrumb%}
							<li {%if loop.last%}class="active"{%endif%}>
								<a href="{{value}}">{{key}}</a> {%if !loop.last %}
									<span class="separator">/</span> {%endif%}</li>
						{%endfor%}
						{#						<li><a href="/">Home</a> <span class="separator">/</span></li>#}
						{#						<li class="active">Cart</li>#}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!--=====  End of Breadcrumb Area  ======-->
